name: Link external dependencies

on:
  workflow_dispatch:
  schedule:
    - cron: "15 21 * * 0" # 21.15 UTC every Sunday

permissions:
  contents: write

jobs:
  links:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: main
          persist-credentials: false

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: pypi
          path: pypi
          persist-credentials: true  # Need credentials to push.

      - name: Update external links
        run: |
          main/tools/link_pypi pypi/

      - name: Commit index
        working-directory: pypi
        run: |
          if [[ -z "$(git status --porcelain)" ]]; then
              echo "No changes to commit"
              exit 0
          fi
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add .
          git commit -m "ci: Update external links"
          git push origin HEAD:pypi
